.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  .header {
    font-size: 60pt;
    color: white;
  }

  button {
    margin: 10px;
  }
}
