.life {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}
.life--three-quarters {
  background-image: url('../../../../../assets/effects/Blood Splatter 1.png');
}
.life--half {
  background-image: url('../../../../../assets/effects/Blood Splatter 2.png');
}
.life--quarter {
  background-image: url('../../../../../assets/effects/Blood Splatter 3.png');
}
