
.container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  padding-right: 5px;
  z-index: 1;
  .portrait-img {
    height: 90%;
    width: 90%;
  }

  .img-container {
    width: 72px;
    height: 72px;
    border: 1px solid white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
  }

  .blue {
    background: var(--blue-gradient);
  }

  .red {
    background: var(--red-gradient);
  }

  .dead {
    opacity: 0.4;
  }

}

.right-radius {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.left-radius {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

