.control-container{
  background: rgba(0,0,0,0.7);
  height: 65px;
  font-size: 34px;
  display: flex;
  color: white;
  align-items: center;
  width: 235px;

  position: fixed;
  bottom: 100px;
  left: 10px;
}

.radius-border {
  height: 65px;
  border: 1px solid white;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.control-btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.disable{
  opacity: 0.6;
  cursor: auto;
}
