.container-credits {
  background: rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  color: white;
}

credits-dialog {
  .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 98%;
  }
  .title {
    font-size: 72px;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    margin-top: 64px;
    line-height: 62px;
  }

  .container-credits-lines {
    //height: 396px;
    max-height: 396px;
    flex-direction: column;
    align-items: center;
    //flex-wrap: wrap;
    overflow: auto;
    margin:0;
    .credit-line {
      line-height: 36px;
      display: flex;
      margin-left: 64px;
      margin-right: 56px;
      font-size: 28px;
      padding-bottom: 24px;
      span {
        a, a:visited, a:hover {
          text-decoration: none;
          color: white;
          outline: none;
        }
        .credit-for-lbl {
          color: #8C8E90;
        }
      }
    }
    .credit-line:last-child {
      padding-bottom: 0px;
    }
  }
  .btn-row {
    margin-top: 48px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1400px) {
    flex-direction: column;
    align-items: center;
  }
}
