.container-credits {
  background: rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  color: white;
}

credits-dialog {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .title {
    font-size: 72px;
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
    padding-top: 64px;
    line-height: 53px;
  }
  .container-credits-lines {
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    flex-wrap: wrap;
    overflow: auto;
    .credit-line {
      line-height: 36px;
      display: flex;
      margin-left: 64px;
      font-size: 36px;
      padding-bottom: 24px;
      span {
        a, a:visited, a:hover {
          text-decoration: none;
          color: white;
          outline: none;
        }
        .credit-for-lbl {
          color: #8C8E90;
        }
      }
    }
    .credit-line:last-child {
      padding-bottom: 0px;
    }
  }
  .btn-row {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1400px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 1440px) {
    .title {
      font-size: 62px;
      padding-bottom: 13px;
      padding-top: 19px;
      line-height: 59px;
    }
    .container-credits-lines {
      padding-bottom: 38px;
      .credit-line {
        font-size: 30px;
        padding-bottom: 17px;
      }
    }
  }

}
