.character-item {
  flex: 1;
  padding: 20px;
  color: white;
  border: 1px white solid;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  width: 200px;
  min-width: 100px;
  transition: all 0.5s;

  @media screen and (max-width: 1300px), screen and (max-height: 650px) {
    height: 120px;
    width: 120px;

    img {
      height: 100px !important;
    }
  }


  .description {
    font-size: 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 99%;
  }
  img {
    height: 90%;
  }

  cursor: pointer;
}

.selected {
  border: 1px solid var(--light-green);
  box-shadow: 0 0 0 5px var(--light-green);
}

.disabled{
  opacity: 0.4;
  cursor: auto;
}

.blue {
  background: var(--blue-gradient);
}

.red {
  background: var(--red-gradient);
}
