.character-picker {
  flex-direction: column;
  align-items: center;

  .half-border {
    width: 50%;
    padding: 0;
    border-top: 1px solid white;
  }

  .header {
    font-size: 40pt;
    color: white;
    text-align: center;
    height: 30px;
    padding-bottom: 15px;
    margin-top: 0;

    @media screen and (max-height: 650px) {
      font-size: 25pt;
      padding-bottom: 1px;
    }
  }

  .viewer-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    .viewer-btn {
      color: white;
      cursor: pointer;
      text-align: center;
      &:hover {
        color: var(--light-green);
      }
      transition: all 0.5s;
    }
    .selected-viewer {
      padding: 5px 10px;
      border: solid 2px var(--light-green);
      border-radius: 10px;
    }
    .game-code {
      width: 260px
    }
    .game-terrain-div {
      margin: 0 30px;
      .game-terrain-title {
        display: inline-block;
        color: white;
        margin: 0 30px;
      }
      .game-terrain-select {
        font-family: Saira ExtraCondensed, sans-serif;
        background: #0E1C27;
        height: 65px;
        font-size: 34px;
        color: white;
        padding: 5px;
        option {
          background-color: transparent;
          border: 1px solid white;
          color: white;
          cursor: pointer;
          font-size: 34px;
          padding: 5px;
        }
      }
    }
  }
  .username-input {
    margin: 0 30px;
    color: white;
    font-size: 22px;
  }
  .gamecode-input {
    margin: 0 30px;
    color: white;
    font-size: 22px;
  }
}
