
@font-face {
  font-family: 'AGENCYR';
  src: url('/assets/fonts/AGENCYR.eot');
  src: local('/assets/fonts/AGENCYR'), url('/assets/fonts/AGENCYR.woff') format('woff'), url('/assets/fonts/AGENCYR.ttf') format('truetype');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: AGENCYR, sans-serif !important;
  background-image: url('/assets/menu/background.jpg');
  background-size: cover;
}

.map-container {
  height: 100vh;
}

.mat-dialog-container {
  //background-color: rgba(0, 0, 0, 0.9); // TODO all other
  border-radius: 10px !important;
  background-color: transparent;
}

@import '~@angular/material/prebuilt-themes/purple-green.css';

.container-how-to-play{
  //height: 60vh;
  //width: 70vw;
  background: rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  color: white;
}

:root {
  --light-green: #6FCF97;
  --grey: #4F4F4F;
}
