.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-size: 96px;
  display: flex;
  justify-content: center;
}

.btn-row{
  display: flex;
  justify-content: center;
}

.button{
  background: var(--grey);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2px 10px;
  min-width: 30px;
  text-align: center;
}

.button-info{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  margin: 12px 0;
}

.mouse {
  height: 30px;
  width: 30px;
  fill: currentColor;
  color: white;
}

.space-btn {
  padding: 2px 35px;
}
.buttons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
