.container-how-to-play {
  background: rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  color: white;
}

how-to-play-dialog {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
    overflow: hidden;
  }

  .title {
    font-size: 85px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .btn-row {
    display: flex;
    justify-content: center;
  }

  .button-info {
    width: 75%;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 36px;
    margin: 12px;
  }

  .button-wrap {
    display: flex;
  }

  .or-style {
    margin: 0 15px;
  }

  .buttons-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;

    @media screen and (min-width: 1400px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
