.right-btn-panel{
  position: fixed;
  right: 10px;
  bottom: 66px;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}


.settings-panel {
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  overflow: hidden;
  margin-bottom: 53px;

  .settings-item {
    width: 150px;
    padding: 10px;
    overflow: hidden;
    display: block;

    input[type=checkbox]{
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: default;
      width: 35px;
      height: 10px;
      background: grey;
      display: inline-block;
      border-radius: 100px;
      position: relative;
      left: 30px;

    }

    label:after {
      content: '';
      position: absolute;
      top: -1px;
      width:  15px;
      height: 15px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked + label {
      background: #8ad869;
    }

    input:checked + label:after {
      background: #67a34e;
      left: calc(100% - 15px);
      //transform: translateX(-100%);
    }
    span{
      display: inline-block;
    }

    #flightSwitch {
      display: inline-block;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
      background: rgba(0,0,0,0.9);
    }
  }

}
