.right-btn-panel{
  position: fixed;
  right: 10px;
  bottom: 66px;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}


.settings-panel {
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  overflow: hidden;
  margin-bottom: 53px;

  .settings-item {
    width: 150px;
    padding: 10px;
    overflow: hidden;
    text-align: center;

    input {
      display: none;
    }
    strong{
      display: block;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
      background: rgba(0,0,0,0.9);
    }
  }
}
