.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/menu/background.png');
  background-size: cover;
  z-index: 1000;
  top: 0;
  left: 0;
}

h1 {
  font-size: 50pt;
  margin: 150px;
  color: white;
}
