.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('/assets/menu/background.png');
  background-size: cover;
  z-index: 1000;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown-text {
  font-size: 50pt;
  color: white;
}

.countdown-number {
  font-size: 400px;
  margin: 100px;
}
