.details-container {
  background: rgba(0, 0, 0, 0.7);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  border: 1px solid white;
  height: 65px;
  font-size: 34px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 66px;
  left: 10px;
  z-index: 1;
}

.name-life-bar-container {
  display: flex;
  //flex-direction: column;
  position: relative;
  justify-content: center;
  .text {
    line-height: 34px;
    margin: 13px 16px 15px 16px;
    align-items: start;
    align-self: flex-start;
    line-height: 34px;
  }

  .life-bar-wrapper {
    position: absolute;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.26);
    margin-bottom: 6px;
    bottom: 0;
    width: 83%;

    .life-bar {
      height: 4px;
      position: absolute;
      bottom: 0;
    }
    .life-bar--full {
      width: 100%;
      background-color: #6FCF97;
    }
    .life-bar--three-quarters {
      width: 75%;
      background-color: #6FCF97;
    }
    .life-bar--half {
      background-color: #F2C94C;
      width:50%;
    }
    .life-bar--quarter {
      background-color: #e9575a;
      width:25%;
    }
    .empty {
      background-color: #e9575a;
      width:100%;
    }
  }

}

.img-container {
  width: 64px;
  height: 64px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img {
  height: 64px;
}

.image {
  height: 95%;
  width: 95%;
}

.blue {
  background: var(--blue-gradient);
}

.red {
  background: var(--red-gradient);
}

