.join-game-dialog {
  height: 80vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-color: transparent;

  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .actions {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 20px;
      justify-content: flex-start;
    }

    .game-code-input{
      width: 226px;
      margin-right: 25px;
      font-size: 35px;
      color: white;
    }
  }
}
