.btn-text {
  font-size: 50px;
  margin: 0 20px;
}

.btn-container {
  color: white;
  border: 1px solid #FFFFFF;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.5s;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &:hover {
    color: var(--light-green);
    border: 1px solid var(--light-green);
    box-shadow: 0 0 0 2px var(--light-green);
  }

}
