.game-room {
  padding: 50px;

  .header {
    color: white;
  }

  .players {
    display: flex;
    align-content: flex-start;

    .player-container {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      margin-top: 10px;

      .ready {
        align-self: center;
        margin: 10px;
        font-size: 40px !important;
      }
    }
  }

  .game-code-text{
    font-size: 2.5em;
  }
  .ready-text{
    font-size: 1.5em;
    margin-top: 39px;
  }
  .first-text-row {
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
  }
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
