.game-room {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  min-width: 1152px;
  padding-bottom: 5%;

  .header {
    color: white;
    height: 274PX;
    .active-player {
      .fighting-for-msg {
        FONT-SIZE: 34PX;
        LINE-HEIGHT: 40PX;
        MARGIN-TOP: 48PX;
        MARGIN-BOTTOM: 12PX;
        font-weight: normal;
      }
      .mission-description {
        FONT-SIZE: 34PX;
        LINE-HEIGHT: 40PX;
        MARGIN-TOP: 12PX;
        MARGIN-BOTTOM: 48PX;
        font-weight: normal;
      }
    }
  }

  .players {
    display: flex;
    align-content: flex-start;
    margin-top: 5%;
    min-width: 1152px;

    .player-container {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      margin-top: 10px;

      .ready {
        align-self: center;
        margin: 10px;
        font-size: 40px !important;
      }
    }
  }

  .game-code-text {
    font-size: 2.5em;
  }
  .ready-text {
    font-size: 34PX;
    LINE-HEIGHT: 40PX;
    font-weight: normal;
  }
  .state-text {
    font-size: 30px;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: system-ui, sans-serif;
    color: rgba(255, 255, 255, 0.6);
  }
  .first-text-row {
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    height: 34PX;

    .hello-msg {
      font-size: 34PX;
      line-height: 34PX;
      margin-top: -2PX;
      font-weight: normal;
    }
    .game-code-text {
      FONT-SIZE: 34PX;
      LINE-HEIGHT: 34PX;
      MARGIN-TOP: -2PX;
      font-weight: normal;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
