.game-room {
  padding: 20px;

  .header {
    color: white;
  }

  .players {
    display: flex;
    align-content: flex-start;

    .player-container {
      display: flex;
      flex-direction: column;

      .ready {
        align-self: center;
        margin: 10px;
      }
    }
  }
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
