.btn-text {
  //font-family: AGENCYR, sans-serif !important;
  font-family: Saira ExtraCondensed, sans-serif !important;
  font-size: 40px;
  padding: 16px 22px 16px 22px;
  font-weight: bold;
  display: inline-block;
  line-height: 30px;
  width: 258px;
}

.btn-container {
  color: white;
  border: 1px solid #FFFFFF;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.5s;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  //margin-top:24px;
  padding: 0px;
  &:hover {
    color: var(--light-green);
    border: 1px solid var(--light-green);
    box-shadow: 0 0 0 2px var(--light-green);
  }

}

.highlight {
  color: var(--light-green);
  border: 1px solid var(--light-green);
  box-shadow: 0 0 0 2px var(--light-green);
}
